# Các thư mục IDE và build
.vs/
x64/
packages/
FirstOpenGLProject/obj/
FirstOpenGLProject/bin/

# Các file cụ thể của Visual Studio
*.vcxproj.user
*.suo
*.sln.docstates
*.vssscc
*.vspscc

# Các file tạm thời và cache khác nếu có
# Thêm các mẫu file hoặc thư mục khác nếu bạn thấy chúng không cần thiết